@import "../scss/varaibles";
@import "../scss/common";

.search-bar {
  ///调整search-icon位置
  position: relative;
  .search-icon {
    left: 22px;
    position: relative;
    top: 4px;
  }
  .input-bar {
    font-size: 12px;
    height: 22px;
    width: 150px;
    border-radius: 30px;
    border: none;
    text-indent: 20px;
    &:focus {
      outline: none;
    }
  }
}
