@import "../../scss/varaibles";
@import "../../scss/common";

.add-tags-holder {
  overflow-y: scroll;
  width: 470px;
  height: 400px;
  .add-tags {
    .close {
      position: absolute;
      top: 10px;
      left: 10px;
      .icon {
        width: 24px;
        height: 24px;
        color: $theme-red-white;
      }
    }
    .title {
      padding: 0;
      margin: 0;
      margin-top: 10px;
      text-align: center;
    }
    .tag-list {
      margin-top: 40px;
      margin-left: 20px;
      .sub-title {
        display: inline-block;
        font-size: 14px;
        color: $gray-alt;
      }
      .red {
        color: $theme-red;
      }
      .tags-category {
        @extend %ul-default;
        font-size: 10px;
        margin-top: 24px;
        .category {
          color: $gray-alt;
          float: left;
        }
        .tags {
          @extend %ul-default;
          display: grid;
          grid-template-columns: repeat(4, 106px);
          grid-auto-rows: 30px;
          .tag {
            .name {
              position: relative;
              border-radius: 20px;
              padding: 5px 20px;
              &:hover {
                color: $theme-red;
              }
              .icon {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                color: $theme-red;
              }
            }
            .selected-tag {
              background-color: $pink-alt;
              color: $theme-red;
            }
          }
        }
      }
    }
  }
  .tag-confirm {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 330px;
    background-color: $white;
    .done {
      display: block;
      height: 30px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90px;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
